@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  label {
    text-decoration: none;
  }

  label abbr[title] {
    text-decoration: none;
    border: 0;
  }

  body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}